@import "variables.scss";
@import "mixins.scss";

h1 {
    font-size:64px;
    color:$primaryColor;
    text-decoration: underline;
}

main {
    height:700px;
    background: $secondaryColor;
    @include flex(flex-start,flex-end);

    article {
        height:100px;
        width:100px;
        margin:4px;
        background:lightblue;
        @include flexCenter();
        @include border();

        .tiny {
            height:40px;
            width:40px;
            background:darkred;
            @include border(4px,solid,black)
            
        }
    }
}